* {
    padding: 0px;
    margin: 0px;
    
} 
html, body{ 
    background: #DDD;
    font-family: "Droid Sans Mono", Helvetica, serif; 
    font-size: 12px; 
}
a {
    text-decoration: none;
}
#menu{
    position: absolute;
    top: 100px;
    left: 0px;
}
#menu a{
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    color: #444;
    font-weight: bold;
    background: #DDD;
    margin-top: 2px;
    margin-bottom: 2px;
    
}
#menu a:hover{
    background: #CCC;
}
#panel_head{
    position: absolute;
    top: 0px;
    right: 60px;
}
#panel_code{
    position: absolute;
    top: 50px;
    left: 150px;
    right: 50px;
    bottom: 20px;
    background: #fff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    overflow: auto;
}
#panel_code .code{
    
}
#list_form {
    margin: 15px;
    margin-top: 25px;
} 
#list_form p{
    width: 95%;
    text-align: justify;
}
#list_form table{
    font-size: 12px;
    width: 99%;
    cursor: default;
}
#list_form table tbody tr.one{
    background: #EEE;
}
#list_form table tbody tr:hover{
    background: #DDD;
}
#list_form table tbody td{
    padding-left: 15px;
}
#list_form table tbody td a{
    color: blue;
}
#list_form table tbody tr:hover a{
    color: green;
}
#paginator{
    width: 95%;
    text-align: right;
    margin-top: 10px;
    position: absolute;
    bottom: 10px;
}
#form_code{
    margin: 15px;
}
#about{
    padding: 20px;
}
#about .picture{
    float: left;
    margin: 10px;
}
#about .description{
    float: left;
    margin-top: 30px;
    width: 500px;
}
#about .me{
    margin-bottom: 10px;
}
#about ol{
    list-style-image: none;
    list-style-type: none;
    margin-left: 10px;
    margin-bottom: 20px;
}
form label{
    display: block;
    
}
form input.text{
    border: 1px solid #DDD;
    padding: 4px 10px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
form input.text:focus{
    border:1px solid #BBB;
}
form input.button{
    border: 1px solid #BBB;
    background: #DDD;
    margin: 5px;
    padding: 4px 15px;
}
form input.button:hover{
    background: #CCC;
}
form input.button:active{
    background: #AAA;
}
form select{
    padding: 4px 0px;
    background: #fff;
    border:1px solid #DDD;
}
form select:focus{
    border:1px solid #BBB;
}
form select optgroup option{
    margin-left: 15px;
    color: blue;
}
form textarea.textarea{
    border:1px solid #DDD;
    width: 95%;
    height: 350px;
}
form textarea:focus{
    border:1px solid #BBB;
}
div.row_form{
    margin-bottom: 5px;
}
div.row_form .errors{    
    color: red;
}
div.info{
    margin-left: 20px;
    margin-top: 10px;
}
.highlight{
    padding: 5px 10px;
    margin-top: 10px;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}
.highlight .hll { background-color: #ffffcc }
.highlight  { background: #f8f8f8; }
.highlight .c { color: #408080; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #008000; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #BC7A00 } /* Comment.Preproc */
.highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
.highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #808080 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0040D0 } /* Generic.Traceback */
.highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #008000 } /* Keyword.Pseudo */
.highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #B00040 } /* Keyword.Type */
.highlight .m { color: #666666 } /* Literal.Number */
.highlight .s { color: #BA2121 } /* Literal.String */
.highlight .na { color: #7D9029 } /* Name.Attribute */
.highlight .nb { color: #008000 } /* Name.Builtin */
.highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.highlight .no { color: #880000 } /* Name.Constant */
.highlight .nd { color: #AA22FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #0000FF } /* Name.Function */
.highlight .nl { color: #A0A000 } /* Name.Label */
.highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #19177C } /* Name.Variable */
.highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #666666 } /* Literal.Number.Float */
.highlight .mh { color: #666666 } /* Literal.Number.Hex */
.highlight .mi { color: #666666 } /* Literal.Number.Integer */
.highlight .mo { color: #666666 } /* Literal.Number.Oct */
.highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
.highlight .sc { color: #BA2121 } /* Literal.String.Char */
.highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #BA2121 } /* Literal.String.Double */
.highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
.highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: #008000 } /* Literal.String.Other */
.highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight .s1 { color: #BA2121 } /* Literal.String.Single */
.highlight .ss { color: #19177C } /* Literal.String.Symbol */
.highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #19177C } /* Name.Variable.Class */
.highlight .vg { color: #19177C } /* Name.Variable.Global */
.highlight .vi { color: #19177C } /* Name.Variable.Instance */
.highlight .il { color: #666666 } /* Literal.Number.Integer.Long */
