{% extends "base.html" %}

{% block title %} About {% endblock %}

{% block content %}	
	<div id="about">
		<div class="picture">
			<img src="https://lh5.googleusercontent.com/-VdmyrrhQN6A/Tb3Y3URaCYI/AAAAAAAAEFY/Ljc9QLVsGbo/s288/2011-04-09%25252011.44.56.jpg" />
		</div>
		<div class="description">
			<h2 class="me">lesthack</a></h2>
			<ol>
				<li>Blog: <a href="http://lesthack.com.mx/">lesthack.com.mx</a></li>
				<li>Twitter: <a href="http://twitter.com/#!/lesthack">@lesthack</a></li>
				<li>Google+: <a href="https://plus.google.com/101086602119752982386/about">lesthack profile</a></li>
			</ol>
			<h3 style="margin-bottom: 5px;">Descripción:</h3>
			<p style="margin-left: 10px;">Programador y colaborador activo, propulsor del Software Libre y amante de los sistemas GNU/Linux. Actualmente Colaborador Debian México.</p>
		</div>
	</div>		
{% endblock %}
