{% extends "base.html" %}

{% block title %} code {% endblock %}

{% block content %}
    <div class="code">
        <div class="info">
            <p><b>Name:</b> {% if codigo.name|length > 0 %} {{ codigo.name }} {% else %} untitled {% endif %}</p>
            <p><b>Author:</b> {% if codigo.owner|length > 0 %} {{ codigo.owner }} {% else %} untitled {% endif %}</p>
            <p><b>Description:</b> {{ codigo.description }}</p>
            <p><b>Language:</b> {{ codigo.language }}</p>
            <p><b>Link:</b> <a href="{{ url }}">{{ url }}</a></p>
            <p><b>Fork:</b> <a href="/fork/{{ codigo.id }}/">Create Fork</a></p>
        </div>
        
        {{ codigo.code|safe }}
        
    </div>        
{% endblock %}