{% extends "base.html" %}

{% block title %} Codelist {% endblock %}

{% block content %}	
	<div id="list_form">
	<p></p>
	<table cellpadding="0">
		<thead> 
			<tr>
				<th width="15%">Code</th>
				<th width="15%">Autor</th>
				<th width="45%">Descripción</th>
				<th width="10%">Lenguaje</th>
				<th width="15%">Creado</th>
			</tr>
		</thead>
		<tbody>
			{% for codigo in codigos.object_list %}		
			<tr class="one">
				<td><a href="/code/{{ codigo.id }}/">{% if codigo.name|length > 0 %} {{ codigo.name }} {% else %} untitled {% endif %}</a></td>
				<td>{{ codigo.owner }}</td>
				<td>{{ codigo.description }}</td>
				<td>{{ codigo.language }}</td>
				<td align="center">{{ codigo.date }}</td>
			</tr>				
			{% endfor %}
		</tbody>
	</table>
	<div id="paginator">
		<a href="?page=1">first</a>
		{% if codigos.has_previous %}
		<a href="?page={{ codigos.previous_page_number }}">back</a>
		{% endif %}
		{% if codigos.has_next %}
		<a href="?page={{ codigos.next_page_number }}">next</a> 
		{% endif %}
		{% if not codigos.number = last_pages %}		
		<a href="?page={{ last_pages }}">last</a>
		{% endif %}		
	</div>	
</div>
{% endblock %}