{% extends "base.html" %}

{% block title %} Codelist {% endblock %}

{% block content %}
	<div id="list_form">
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ultricies nisl sed justo porttitor placerat. Praesent congue ante pharetra risus sollicitudin vitae vehicula nisl pulvinar.
	</p>
	<table cellpadding="0">
		<thead> 
			<tr>
				<th width="15%">Code</th>
				<th width="15%">Autor</th>
				<th width="50%">Descripción</th>
				<th width="10%">Lenguaje</th>
				<th width="10%">Creado</th>
			</tr>
		</thead>
		<tbody>
			{% for codigo in codigos %}		
			<tr class="one">
				<td><a href="/code/{{ codigo.id }}/{{ codigo.name }}">{{ codigo.name }}</a></td>
				<td>{{ codigo.owner }}</td>
				<td>{{ codigo.description }}</td>
				<td>{{ codigo.language }}</td>
				<td align="center">{{ codigo.date }}</td>
			</tr>				
			{% endfor %}
		</tbody>
	</table>
	<div method="POST" action="" id="controls_page">
		<a href="#">first</a> <a href="#">back</a> <a href="#">next</a> <a href="#">last</a>
	</div>
</div>
{% endblock %}