{% extends "base.html" %}

{% block title %} New Code {% endblock %}

{% block content %}
	<form method="post" action="/add/" name="form_code" id="form_code">{% csrf_token %}			
		<div class="row_form">
			<label for="name">Nombre:</label>			
			{{ form_code.name }}
			{{ form_code.name.errors }}
		</div>
		<div class="row_form">
			<label for="language">Lenguaje:</label>
			{{ form_code.language }}
			{{ form_code.language.errors }}
		</div>
		<div class="row_form">
			<label for="owner">Autor:</label>			
			{{ form_code.owner }}
			{{ form_code.owner.errors }}
		</div>
		<div class="row_form">
			<label for="description">Descripción:</label>
			{{ form_code.description }}
			{{ form_code.description.errors }}
		</div>
		<div class="row_form">
			<label for="">Código</label>
			{{ form_code.code }}
			{{ form_code.code.errors }}
		</div>			
		
		<div class="right row_form">
			{% for hidden in form_code.hidden_fields %}
				{{ hidden }}
			{% endfor %}
			<input type="submit" value="Pegar" name="" class="button" />
		</div>			
	</form>
{% endblock %}	